body {
    font-family: "Avenir", sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(46, 45, 45);
    color: white;
}

#main-header {
    background-color: rgb(31, 30, 43);
}

#main-header h1 {
    margin: 0;
    padding: 1rem;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.nav-links-container {
    margin-bottom: 2.5rem;
    border-radius: 3rem;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.nav-links-container a {
    padding: 1rem 2rem;
    color: black;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    background-color: #899afa;
}

.nav-links-container a:hover {
    background-color: mediumseagreen;
}

.top-buttons-container {
    margin: 1.5rem 5rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.top-buttons-container button {
    background-color: #899afa;
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: black;
}

.top-buttons-container button:hover {
    background-color: mediumseagreen;
}

#add-playlist-form {
    height: 0rem;
    overflow: hidden;
    transition: height 0.25s ease-in-out;
    margin: 1.5rem 5rem 0;
}

.sort-buttons-container {
    display: flex;
    flex-flow: row wrap;
    border-radius: 2rem;
    overflow: hidden;
}

.sort-buttons-container button {
    border-radius: 0;
}

.sort-buttons-container p {
    background-color: rgb(31, 30, 43);
    font-size: 20px;
    text-align: center;
    padding: 1rem 2rem;
    margin: 0;
}

#add-playlist-form input {
    display: block;
    font-family: "Avenir", sans-serif;
    color: white;
    font-size: 20px;
    margin: 1rem 0rem;
    width: 20rem;
}

#add-playlist-form input[type="text"] {
    background-color: rgb(31, 30, 43);
    border-radius: 1rem;
    border: none;
    padding: 0.5rem 1rem;
}

#add-playlist-form button[type="submit"] {
    background-color: #899afa;
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: black;
    margin-top: 1rem;
}

#add-playlist-form button:hover {
    background-color: mediumseagreen;
}

.search-container {
    margin: 2rem 5rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.search-container input {
    font-family: "Avenir", sans-serif;
    color: white;
    font-size: 20px;
    margin: 1rem 0rem;
    background-color: rgb(31, 30, 43);
    border-radius: 1rem;
    border: none;
    padding: 0.5rem 1rem;
    flex-grow: 5;
}

.search-container button {
    background-color: #899afa;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: black;
    margin: 0.2rem 0;
}

.search-container button:hover {
    background-color: mediumseagreen;
}

.playlist-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    padding-bottom: 5rem;
}

.playlist {
    width: 18rem;
    background-color: rgb(31, 30, 43);
    border-radius: 1rem;
    overflow: hidden;
    box-sizing: border-box;
    margin: 1.5rem;
    border: none;
    transition: border 0.25s ease-in-out;
}

.playlist:hover {
    border: mediumseagreen 5px solid;
}

.playlist img {
    width: 100%;
}

.playlist h3 {
    font-size: 22px;
    margin: 0.2rem 0.8rem;
}

.playlist p {
    font-size: 18px;
    margin: 0.2rem 0.8rem;
}

.playlist-button-container button {
    background-color: #899afa;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: black;
    margin: 0.2rem 0.8rem 1rem;
}

.playlist-button-container button:hover {
    background-color: mediumseagreen;
}

button {
    text-decoration: none;
    background-color: transparent;
    border: none;
    padding-block: 0;
    padding-inline: 0;
    color: inherit;
    font-family: inherit;
    text-align: inherit;
}

.playlist svg {
    width: 32px;
    height: 32px;
}

.playlist button path {
    transition: fill 0.25s ease-in-out;
}

.playlist button:hover path.outlined {
    fill: mediumseagreen;
}

.playlist button:hover path.filled {
    fill: #899afa;
}

.like-container {
    display: flex;
    align-items: center;
    margin: 1rem 0.8rem;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(20, 20, 20, 0.7);
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    z-index: -1;
}

#modal {
    background-color: rgb(46, 45, 45);
    width: 80vw;
    height: 80vh;
    margin: 10vh auto;
    border-radius: 2rem;
    overflow: scroll;
    box-shadow: 0px 10px 10px black;
}

.playlist-info {
    padding: 1.5rem;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    width: 80vw;
    box-sizing: border-box;
    gap: 2rem;
}

.playlist-info img {
    width: 30vh;
    height: 30vh;
}

.playlist-info-text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 1.4rem;
}

.playlist-info h3 {
    font-size: 32px;
    margin: 0rem;
}

.playlist-info p {
    font-size: 24px;
    margin: 0.2rem;
    color: #899afa;
}

.playlist-info button {
    background-color: #899afa;
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: black;
    margin-left: auto;
}

.playlist-info button:hover {
    background-color: mediumseagreen;
}

.songs {
    display: flex;
    width: 90%;
    margin: auto;
    flex-flow: column nowrap;
    gap: 1rem;
    margin-bottom: 2rem;
}

.song img {
    width: 8rem;
}

.song {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
}

.song-info-text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    gap: 0.5rem;
    overflow-x: scroll;
    text-wrap-mode: nowrap;
}

.song-info-text h6, .song-info-text p {
    margin: 0;
}

.song-info-text h6 {
    font-size: 20px;
    font-weight: normal;
}

.song-info-text p {
    font-size: 16px;
    color: #899afa;
}

.featured-container {
    width: 80vw;
    margin: 3rem 10vw;
}

.featured-playlist {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5rem;
}

.featured-info {
    width: 25rem;
    padding: 2rem;
    background-color: rgb(31, 30, 43);
    border-radius: 2rem;
    transition: border 0.25s ease-in-out;
    border: none;
    box-sizing: border-box;
}

@media (max-width: 1260px) {
    .featured-playlist {
        flex-flow: column nowrap;
    }

    .featured-info {
        width: 100%;
    }

    .featured-song-container {
        width: 100%;
        overflow: visible;
    }

    .featured-info h3 {
        font-size: 20px;
    }

    .featured-info p {
        font-size: 14px;
    }
}

.featured-info:hover {
    border: mediumseagreen 5px solid;
}

.featured-info img {
    width: 100%;
    margin: auto;
}

.featured-info h3 {
    font-size: 32px;
}

.featured-info p {
    font-size: 24px;
    color: #899afa;
}

.featured-info h3, .featured-info p {
    margin: 1rem 0;
}

.featured-song-container {
    flex-grow: 5;
    height: 70vh;
    overflow: scroll;
}

.featured-song img {
    height: 100%;
}

.featured-song {
    background-color: rgb(31, 30, 43);
    border-radius: 2rem;
    transition: border 0.25s ease-in-out;
    border: none;
    height: 8rem;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    margin-bottom: 1.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.featured-song:hover {
    border: mediumseagreen 5px solid;
}

.featured-song .song-info-text {
    justify-content: center;
}

.song-duration {
    color: lightgray;
    margin-left: 0.5rem;
}